#background {
	-fx-height: 100%;
	-fx-background-image : url("../Images/bgr.jpg");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover;
}

#phase {
	-fx-background-image : url("../Images/button2.png");
}

#stade {
	-fx-background-image : url("../Images/board.png");
	-fx-background-repeat: no-repeat;
}

#mainDeck {
	-fx-background-image : url("../Images/Jade.png");
	-fx-background-size: cover;
}

#opponentDeck {
	-fx-background-image : url("../Images/Ice.png");
	-fx-background-size: cover;
}