#clickme {
		-fx-font-size: 30px;
		-fx-background-color: rgba(255,255,255, .80);
		-fx-text-fill: blue;
		-fx-padding: 6 6 6 6;
		-fx-border-radius: 8;
		-fx-font-weight: bold;

}
#myMessage {
		-fx-font-size: 30px;
		-fx-background-color: rgba(255,255,255, .80);
		-fx-text-fill: blue;
		-fx-padding: 6 6 6 6;
		-fx-border-radius: 8;
		-fx-font-weight: bold;

}
#test {
	-fx-height: 100%;
	-fx-background-image : url("background.jpg");
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover;
}

#board {
	-fx-background-image : url("board.jpg");
}

#phase {
	-fx-background-image : url("button2.png");
}